---
import '@/styles/global.css';
import { slide } from 'astro:transitions';

import Header from '@/components/layout/Header.astro';
import MobileMenu from '@/components/layout/MobileMenu.astro';
import EmergencyBanner from '../components/layout/EmergencyBanner.astro';
import ToggleButton from '@/components/layout/ToggleButton.astro';
import Breadcrumbs from '@/components/layout/Breadcrumbs.astro';
import Footer from '@/components/layout/Footer.astro';

export interface SeoData {
  title: string;
  description: string;
  keywords: string;
  ogTitle?: string;
  ogDescription?: string;
  ogType?: string;
  ogUrl?: string;
  ogImage?: string;
}

export interface Props {
  seoData: SeoData;
  showBreadcrumbs?: boolean;
}

const { seoData, showBreadcrumbs = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{seoData.title}</title>
    <meta name="description" content={seoData.description} />
    <meta name="keywords" content={seoData.keywords} />
    <meta property="og:title" content={seoData.ogTitle ?? seoData.title} />
    <meta
      property="og:description"
      content={seoData.ogDescription ?? seoData.description}
    />
    <meta property="og:type" content={seoData.ogType ?? 'website'} />
    <meta
      property="og:url"
      content={seoData.ogUrl ?? `https://uplevelcorp.ca${Astro.url.pathname}`}
    />
    <meta
      property="og:image"
      content={seoData.ogImage ?? 'https://uplevelcorp.ca/og-cover.png'}
    />

    <meta
      name="apple-mobile-web-app-title"
      content="Uplevel Restoration - 24/7"
    />

    <link
      rel="canonical"
      href={seoData.ogUrl ?? `https://uplevelcorp.ca${Astro.url.pathname}`}
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div transition:persist="header">
      <ToggleButton />
      <MobileMenu />
      <Header />
    </div>
    <EmergencyBanner />

    {showBreadcrumbs && <Breadcrumbs />}

    <main transition:animate={slide({ duration: '0.4s' })}>
      <slot />
    </main>
    <div transition:persist="footer">
      <Footer />
    </div>
    <!-- The Web3Forms script ---->
    <script is:inline src="https://web3forms.com/client/script.js" async defer
    ></script>
  </body>
</html>
